.logo {
    font-size: 4rem;
    color: var(--primary-color);
    pointer-events: none;
    margin-right: 250px;
}

.navigation {
    a {
        font-size: 1.8rem;
        text-decoration: none;
        color: var(--primary-color);
        padding: 6px 15px;
        border-radius: 20px;
        margin: 0 10px;
        font-weight: 600;
    }

    a:hover,
    a.active {
        background: var(--primary-color);
        color: #fff;
    }
}
