@import '@/styles/media-queries.scss';

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;

    @include xs {
        max-width: calc(100% - 24px);
    }
}
