$primary-color: linear-gradient(135deg, #9e7aff 0%, #fe8bbb 33.33%, #ffbd7a 66.67%, #f8eac3 100%);
$transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1);
$gradient-button-color: linear-gradient(96.34deg, #926aff 0%, #ff77b0 50%, #ffb367 100%);

$white-color: #ffffff;
$black-color: #000000;

$facebook-color: #3b5998;
$instagram-color: #ff8e40;
$linkedin-color: #007aaa;
