$primary-color: linear-gradient(135deg, #9e7aff 0%, #fe8bbb 33.33%, #ffbd7a 66.67%, #f8eac3 100%);
$secondary-color: linear-gradient(180deg, rgba(240, 238, 249, 0.8) 0%, #e2e8ff 100%);
$white-color: #ffffff;
$black-color: #000000;
$text-color: #e2e8ff;
$subheading-color: #e2e8ff8c; // 0.55
$border-color: rgba(226, 232, 255, 0.08);
$transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1);
$gradient-button-color: linear-gradient(96.34deg, #926aff 0%, #ff77b0 50%, #ffb367 100%);

$facebook-color: #3b5998;
$instagram-color: #ff8e40;
$linkedin-color: #007aaa;
$github-color: $white-color;
