// $primary-color: linear-gradient(135deg, oklab(0.66 -0.24 0.16), oklab(0.61 -0.08 -0.21));
$primary-color: linear-gradient(135deg, oklab(0.66 -0.24 0.16), oklab(0.61 -0.08 -0.21));
$transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1);
$gradient-button-color: linear-gradient(135deg, oklab(0.66 -0.24 0.16), oklab(0.61 -0.08 -0.21));
$stage-background: linear-gradient(
    rgba(63, 78, 215, 0.2) 0%,
    rgba(61, 143, 245, 0.1) 50%,
    rgba(106, 189, 207, 0) 100%
);

$white-color: #ffffff;
$black-color: #000000;

$facebook-color: #3b5998;
$instagram-color: #ff8e40;
$linkedin-color: #007aaa;
