.footer-info {
    background-color: #121151;
    padding: 50px 0;
}

.footer-info__nav-bar {
}

.footer-info__nav-bar--list {
    list-style: none;
    display: flex;
}

.footer-info__nav-bar--item {
}

.footer-info__nav-bar--link {
}

.footer-info__social {
}

.footer-info__social-list {
    list-style: none;
    display: flex;
}

.social-list__item {
    --diameter: 80px;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #3840a9;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-list__item-link {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.social-list__item-link-icon {
    font-size: 3.5rem;
}

.social-list__item-link-icon.fab.fa-facebook-f {
    color: #385c8e;
}

.social-list__item-link-icon.fab.fa-twitter {
    color: #03a9f4;
}

.social-list__item-link-icon.fab.fa-instagram {
    /* background-image: linear-gradient(red, yellow); */
    background: -webkit-linear-gradient(red, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-copyright {
    width: 100%;
    background-color: #0d0c4c;
    padding: 30px 0;
}

.footer-copyright__text {
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
}

/* Scroll back to top button */
.scroll-to-top {
    color: var(--primary-color);
    opacity: 0.8;
    font-size: 4.5rem;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
}

.scroll-to-top:hover {
    opacity: 1;
    cursor: pointer;
}
