.sec {
    position: relative;
    background: #003329;
    padding: 100px;

    h2 {
        font-size: 3em;
        color: #fff;
        margin-bottom: 10px;
    }

    p {
        font-size: 1em;
        color: #fff;
        font-weight: 300;
    }
}
