@import '@/styles/media-queries.scss';
@import '@/styles/variables.module.scss';

.strong {
    background-image: $primary-color;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
