.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: #003329;
    color: #fff;
    font-size: 1.6rem;
    padding: 50px 0;
}

.container {
    width: var(--max-width);
    margin: 0 auto;

    .heading {
        font-size: 6rem;
        color: #fff;
        margin-bottom: 40px;
    }
}

.project {
    background-color: var(--primary-color);
    aspect-ratio: 16/9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }

    .details {
        // display: none;
        visibility: hidden;

        position: absolute;
        transition: background-color linear 0.3s;
        background-color: transparent;
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 24px;

        h1 {
            font-size: 3rem;
        }

        p {
            margin: 24px 0 48px 0;
        }

        svg {
            margin-right: 12px;
        }
    }

    &:hover .details {
        // display: block;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
