.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: #003329;
    color: #fff;
    font-size: 1.6rem;
    padding: 50px 0;
}

.container {
    width: var(--max-width);
    margin: 0 auto;

    .heading {
        font-size: 6rem;
        color: #fff;
        margin-bottom: 10px;
    }

    .description {
        font-size: 2rem;
    }
}
